.list {
  display: grid;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.item {
  display: grid;
  grid-template: auto auto 48px/auto 1fr;
  grid-gap: 1rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

.invisible {
  content-visibility: auto;
  contain-intrinsic-height: 600px;
}

.itemTitle {
  grid-column: 1 / 3;
}

.section {
  padding: 1rem;
}

.heading {
  color: #000;
}

.thumbnail {
  grid-row: 2 / 4;
}